@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

/* Enable dark mode background globally */
html.dark {
  background-color: #18181b;
}
body.dark {
  background-color: #18181b;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: white;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
